#home{
    background-image: url("https://previews.123rf.com/images/peshkova/peshkova1703/peshkova170300936/74638238-back-view-of-open-laptop-placed-on-wooden-desktop-with-decorative-plant-coffee-cup-supplies-and-othe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-20px;
    height:600px;
    
}
#me{
    width: 400px;
    height: 430px;
    margin-left: 50px;
    margin-top:-380px;
}
.p{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: gray;
    margin-top: 50px;
    margin-left: 650px;
    font-size: 60px;
}
#name{
    font-size: 80px;
    color: black;
    text-shadow: -4px -4px yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-fluid{
    margin-left: 800px;
    margin-top:50px;
}
.k{
    color: lightseagreen;
    font-size: x-large;
}
#about{
    margin-top:100px;
    margin-left:150px;
}
#whole{
    background-color: lightgray;
    width:100%;
    height:500px;
    border-radius: 30px;
}
h2{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}
#w{
    width:750px;
}
#y{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-shadow: -2px -2px yellow;
    text-align: justify;
}
.btn{
    margin-right: 20px;
    color:black;
    font-size: large;
    border-radius: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.btn:hover {
    background-color: black;
    top: -10px;
  }
.bt{
    margin-left: 60px;
    padding-right: 20px;
}
#skill{
    margin-left: 800px;
}
#project{
    margin-left:100px;
    margin-top:-20px;
}
#j{
    width:300px;
    height:300px;
    margin-left:700px;
}
#p{
    margin-top:-300px;
    margin-left:5px;
    height:500px;
    padding-bottom:20px;
    text-align: justify;
    justify-content: end;
}
.pr{
    color: darkorange;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
}
.m{
    margin-bottom: 20px;
    width:500px;
    text-align: justify;
}
.exp{
    color: darkolivegreen;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.sec{
    margin-left:500px;
    margin-top:-300px
}
.th{
    width:400px;
    height:300px;
    margin-top:20px
}
#contact{
    margin-top:300px;
    margin-left: 200px;
}
.in{
    width:100px;
    height:100px;
    margin-top:40px;
}
.git{
    width:100px;
    height:100px;
    margin-top:40px
}
.name{
    width:400px;
}
.n{
    font-size: x-large;
    margin-left:30px;
    color: darkslategray;

}
.na{
    margin-left:80px;
    font-size: larger;
}
.ma{
    font-size: x-large;
    margin-left:80px;
    color: darkslategray; 
    margin-top: -35px;
}
.con{
    color:black
}
#foot{
    width:100%;
    height:70px;
    background-color: blanchedalmond;
}
.foote{
    padding-top:20px;
    margin-left:530px;
}
.hire{
    margin-left:700px;
}
.quote{
    margin-left:650px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
}